.yogurt {
  color: #ffffed;
  font-family: serif;
  background-color: black;
}

#berry {
  color: #feedff;
  font-size: 35px;
  background-color: black;
}

#peachez {
  color: #edf9ff;
  font-size: 35px;
  background-color: black;
}
